* {
    box-sizing: border-box;
}

header, nav, main, footer {
    display: block;
}

body {
    background-image: url("../img/background.jpg");
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

/* Header */
header {
    background-color: #000033;
    color: #FFFFFF;
    font-family: Georgia, sans-serif;
}

h1 {
    background-image: url("../img/sunset.jpg");
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 20px;
    height: 72px;
    line-height: 200%;
    margin-bottom: 0px;
}

h2 {
    color: #3399CC;
    font-family: Georgia, sans-serif;
}

h3 {
    color: #000033;
}

/* Navigation */
nav {
    font-weight: bold;
    padding: 5px;
    float: left;
    width: 160px;
    padding: 20px 5px 0 20px;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #000033;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #FFFFFF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

/* Images */

#homehero {
    background-image: url("../img/coast.jpg");
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}

#yurthero {
    background-image: url("../img/yurt.jpg");
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;

}

#trailhero {
    background-image: url("../img/trail.jpg");
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;

}

/* Content */
main {
    background-color: #FFFFFF;
    margin-left: 170px;
    padding: 1px 20px 1px 20px;
    display: block;
}

dt {
    color: #000033;
    font-weight: bold;
}

.resort {
    color: #000033;
    font-size: 1.2em;
}

#wrapper {
    background-color: #90C7E3;
    width: 80%;
    min-width: 700px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 3px 3px 3px black;
}

/* Footer */
footer {
    background: #FFFFFF;
    font-size: .70em;
    font-style: italic;
    text-align: center;
    padding: 10px;
    margin-left: 170px;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {

    body {
        margin: 0;
        padding: 0;
        background-image: none;
    }

    #wrapper {
        width: auto;
        min-width: 0;
        margin: 0;
        box-shadow: none;
    }

    h1 {
        margin: 0;
    }

    nav {
        float: none;
        width: auto;
        padding: 0.5em;
    }

    nav li {
        display: inline-block;
    }

    nav a {
        padding: 1em;
    }

    main {
        padding: 1em;
        margin: 0;
        font-size: 90%;
    }

    footer {
        margin: 0;
    }

    #yurthero, #homehero, #trailhero {
        margin-left: 0;
    }
}

@media only all and (max-width: 768px) {
    h1 {
        height: 100%;
        font-size: 1.5em;
        padding-left: 0.3em;
    }

    nav {
        padding: 0;
    }

    nav a {
        display: block;
        padding: 0.2em;
        font-size: 1.3em;
        border-bottom: 1px solid #330000;
    }

    nav li {
        display: block;
        margin: 0;
        padding: 0;
    }

    main {
        padding: 0.1em 0.6em 0.1em 0.4em;
    }

    #homehero, #yurthero, #trailhero {
        display: none;
    } 

    footer {
        padding: 0;
    }

    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }
}